#projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding-left: 20px;
}

.project {
    border: 1px solid #eeeeee;
    color: black;
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 30px;
    text-decoration: none;
    width: calc(33% - 20px);
}

.project:hover {
    box-shadow: 0 0 25px #eeeeee;
}

.project .fa {
    color: red;
    font-size: 1em;
    float: right;
}

body {
    padding: 50px;
}

#new-project {
    background-color: #1b8a1b;
    color: white;
    margin: 10px 0;
}