@import url('https://fonts.googleapis.com/css?family=Open+Sans:500,700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all 500ms;
}

body {
    margin: 0;
}

.header, header {
    align-items: center;
    display: flex;
}

.header h1, header h1 {
    flex-grow: 1;
}

button {
    cursor: pointer;
    border: none;
}

button, select {
    margin: 0 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}